.edit-btn {
    float: right;
}
.article-list ul {

}
.article-list ul li {
    display: inline;
    float: left;
    margin: 10px 28px;
    background: white;
    width: 256px;
    height: 200px;
}
.tile a img {
    height: 128px;
    width: 256px;
}
.avatar img {
    width: auto !important;
    height: auto !important;
}
.blurb {
    float:right;
}
#orglinks {
    min-height: 20em;
}
#orgcontent {
    min-height: 20em;
}
#mediabanner {
    min-height: 10em;
}
#orgcontent p {
    margin-bottom: 1em;
}
.nav-tabs a {
    font-size: medium;
}
.nav {
    margin-bottom: 0px;
}
#editpanel {
    background: gray;
    position: absolute;
    z-level: 1000;
}
#editbuttons {
    float: right;
    position: relative;
    bottom: 2px;
    right: 2px;
}
#carousel {
    height: 200px;
}
#carousel .tile {
    height: auto;
    margin-top: 0;
    padding: 0;
    border: none;
    width: 256px;
    text-align: center;
}
#quicksearch-div {
    position: relative;
    top: -50px;
    left: -240px;
}
#header .wrap {
    padding-bottom: 12px;
}