{% load webdesign %}
{% load i18n %}
{% load mapstory_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Annotations viewer editor</title>

    <meta name="viewport"
          content="width=device-width,
                   initial-scale=1.0">

    <link href="{% static "theme/bootstrap_custom.css" %}" 
          rel="stylesheet" />

    <style type="text/css">
      #olMap {
        height: 600px;
        width: 1000px;
        background: #eee;
      }
    </style>

  </head>
  <body>

    <div class="container">
      <h1>Annotation editor</h1>
      <div id="olMap">
      </div>
    </div>

  <script
     src="{% geonode_static "externals/ext/adapter/ext/ext-base.js" %}">
  </script>

  <script
     src="{% geonode_static "externals/ext/ext-all.js" %}">
  </script>

  <script src="{% static "components/openlayers/OpenLayers.js" %}">
  </script>
  <script src="{% static "components/jquery/jquery.min.js" %}"></script>
  <script src="{% static "script/annotations.js"%}"></script>

  <script>
    var map, layer, bounds;
        
    function init(){
       map = new OpenLayers.Map({
           div: 'olMap',
           layers: [
               new OpenLayers.Layer.OSM()
           ]
       });

       layer = new OpenLayers.Layer.Vector("annotations test", {
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new ms.annotations.Protocol({
                        mapConfig: {
                           id: 1
                        }
                    })
                });

        map.addLayers([layer]);
        bounds = new OpenLayers.Bounds(
           -79.318576214907, 36.508050759734, -68.332248089907, 43.099847634734
        );
        map.zoomToExtent(bounds.transform(
            new OpenLayers.Projection('EPSG:4326'),
            map.getProjection()
        ));
     };

    $(function() {
       init();
    })
  </script>


  </body>
</html>
