{% load webdesign %}
{% load i18n %}
{% load mapstory_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Annotations viewer editor</title>

    <meta name="viewport"
          content="width=device-width,
                   initial-scale=1.0">

    {% include "geonode/ext_header.html" %}
    {% include "geonode/app_header.html" %}
    {% include "geonode/geo_header.html" %}

    <link href="{% static "theme/bootstrap_custom.css" %}" 
          rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Marvel:400,400italic,700,700italic' 
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet"
          type="text/css"
          href="{% geonode_static "externals/ext/resources/css/ext-all.css"" />
    <link rel="stylesheet" 
          type="text/css" 
          href="{% static "theme/geonode.css" %}" media="screen" />
    <link rel="stylesheet" 
          type="text/css" 
          href="{% static "theme/ext-theme.css" %}" media="screen" />
    <link rel="stylesheet" 
          type="text/css" 
          href="{% static "theme/site.css" %}" 
          media="screen" />    

  </head>
  <body>

    <div class="container">
      <h1>Annotation editor</h1>
    </div>

    <script src="{% static "script/jquery-1.7.1.min.js" %}">
    </script>
    <script type="text/javascript"  
            src="{% geonode_static "externals/ext/adapter/ext/ext-base.js" %}">
    </script>
    <script type="text/javascript" 
            src="{% geonode_static "externals/ext/ext-all.js" %}">
    </script>
    <script type="text/javascript" src="{% url jscat %}"></script>
    <script type="text/javascript" src="{% url lang %}"></script>



  </body>
</html>
