{% load webdesign %}
{% load i18n %}
{% load mapstory_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Annotations viewer editor</title>

    <meta name="viewport"
          content="width=device-width,
                   initial-scale=1.0">

    <link href="{% static "theme/bootstrap_custom.css" %}" 
          rel="stylesheet" />

    <style type="text/css">
      #olMap {
        height: 600px;
        width: 1000px;
        background: #eee;
      }
    </style>

  </head>
  <body>

    <div class="container">
      <h1>Annotation editor</h1>
      <div id="olMap">
      </div>

      <input class="toggle" type="checkbox">

    </div>

  <script
     src="{% geonode_static "externals/ext/adapter/ext/ext-base.js" %}">
  </script>

  <script
     src="{% geonode_static "externals/ext/ext-all.js" %}">
  </script>

  <script src="{% static "components/openlayers/OpenLayers.js" %}">
  </script>
  <script src="{% static "components/jquery/jquery.min.js" %}"></script>
  <script src="{% static "script/notes/core.js"%}"></script>
  <script src="{% static "script/notes/test-map.js"%}"></script>

  <script>
    $(function() {
       ms.notes.main({});
    })
  </script>


  </body>
</html>
