{% load webdesign %}
{% load i18n %}
{% load mapstory_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mapstory client tests</title>

  <link rel="stylesheet" 
        href="{% static "components/qunit/qunit.css"%}">

</head>
<body>
  <div id="qunit"></div>
  <div id="qunit-fixture"></div>

  <script
     src="{% geonode_static "externals/ext/adapter/ext/ext-base.js" %}">
  </script>

  <script
     src="{% geonode_static "externals/ext/ext-all.js" %}">
  </script>

  <script src="{% static "components/openlayers/OpenLayers.js" %}">
  </script>

  <script src="{% static "components/jquery/jquery.min.js" %}"></script>
  <script src="{% static "components/qunit/qunit.js" %}"></script>

  <script src="{% static "script/notes/core.js"%}"></script>

  <script src="{% static "script/tests/test.annotations.js"%}"></script>

</body>
</html>
