{% extends "no_bottom_layout.html" %}
{% load org_tags %}
{% load mapstory_tags %}
{% load staticfiles %}

{% block title %}{{ obj.user.username }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static "theme/link_edit.css" %}" media="screen" />
{% endblock %}

{% block main %}

<a class="pull-right" href="{{ obj.get_absolute_url }}">[ Back ]</a>
{% if link_type == 'links' %}
<h2>{{ obj.user.username }}, Links</h2>
{% else %}
<h2>{{ obj.user.username }} Media Links</h2>
{% endif %}

<div class="box" id="docs">
    {% if link_type == 'links' %}
    <p>The links will be displayed on the right side of your profile page
    using the provided <em>name</em>.
    </p>
    {% else %}
    <p>The links will be displayed in the media banner of your profile page.
    Supported types are:
    <ul>
        <li>Images - the URL must end with an image extension (.jpg, .png, .gif)</li>
        <li>YouTube Video - provide either the embed URL or the URL from the video page.</li>
    </ul>
    {% endif %}
    <p>Links are sorted using the <em>order</em> field.</p>
    <p>Click on the the link to edit/delete.</p>
</div>

{% include "mapstory/_link_edit.html" %}

{% endblock %}

{% block extra_body %}
<script type="text/javascript" src="{% static 'script/link_edit.js' %}"></script>
{% endblock %}