{% extends "page_layout.html" %}
{% load i18n %}
{% load avatar_tags %}
{% load mapstory_tags %}
{% load staticfiles %}

{% block title %}{{storyteller.username}}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static "theme/storyteller.css" %}" media="screen" />
{% endblock %}

{% block main %}
<div class="row mrg-top">
    {% if storyteller == request.user %}
    <div class="span12">
    {% profile_incomplete request.user %}
    </div>
    {% endif %}
    <div class="span8">
        <h2>STORYTELLER PAGE</h2>
    </div>
    <div class="span4 top-detail-actions">
        {% if storyteller == request.user %}
        <a href="{% url profiles_profile_detail storyteller %}">Edit Your Profile</a>
        {% endif %}
    </div>
</div>
<div class="row">
    {% with storyteller.get_profile as p %}
    <div class="span8">
        <div class="box mrg-btm">
            <div class="cols">
                <div class="col-side storyteller-info">
                    {% avatar storyteller %}
                    <section>
                        <ul>
                            {% if p.blurb %}
                            <li>{{ p.blurb }}</li>
                            {% endif %}
                            {% if p.voice %}
                            <li>{{ p.voice }}</li>
                            {% endif %}
                            {% if p.city %}
                            <li>{{ p.city }}</li>
                            {% endif %}
                            {% if p.country %}
                            <li>{{ p.country }}</li>
                            {% endif %}
                        </ul>
                    </section>
                    {% if p.education %}
                    <section>
                        <h6>Education</h6>
                        <p>{{ p.education|escape|urlize|linebreaks|safe }}</p>
                    </section>
                    {% endif %}
                    {% if p.expertise %}
                    <section>
                        <h6>Expertise</h6>
                        <p>{{ p.expertise|escape|urlize|linebreaks|safe }}</p>
                    </section>
                    {% endif %}
                    <div class="links ">
                        {% for l in storyteller.get_profile.links.all %}
                            {% render_link l %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-main storyteller-details">
                    <h2>{% firstof storyteller.get_full_name storyteller.username %}
                    {% if p.organization %},<br/> {{ p.organization }} {% endif %}
                    </h2>
                    {% if p.biography %}
                    <section>
                        <h3>Biography:</h3>
                        <p>{{ p.biography|escape|urlize|linebreaks|safe }}</p>
                    </section>
                    {% endif %}
                    {% activity_feed storyteller %}
                </div>
            </div>
        </div>
        {% endwith %}
    </div>
    <div class="span4">
        {% by_storyteller storyteller %}
    </div>
</div>
<div id="mediabanner" class="box mrg-btm">
    {% if can_edit %}<a href="{% url resource_ribbon_links resource.slug %}" class='btn btn-small pull-right' target="_">Edit</a>{% endif %}
    {{ storyteller.ribbon_links.count }}
    {% media_ribbon storyteller.get_profile.ribbon_links %}
</div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript" src="{% static "script/paginate.js" %}"></script>
<script type="text/javascript" src="{% static "script/carousel_jquery.js" %}"></script>
<script type="text/javascript">
$(function() {
    var mw = 256.0, mh = 200.0;
    $("#carousel li *").load(function() {
       $(this).carouselResize(mw, mh);
    });
});
</script>
{% endblock %}