{% extends "no_bottom_layout.html" %}
{% load org_tags %}
{% load mapstory_tags %}
{% load staticfiles %}

{% block title %}{{ org.name }}{% endblock %}

{% block extra_head %}
<style type="text/css">
    .tile img {
        width: 256px;
    }
    .details {
        float: right;
    }
    .details order {
        display: none;
    }
    .selected {
        background: graytext;
    }
    .tile:hover {
        background: bisque;
    }
    #docs li {
        font-size: small;
        list-style: circle outside none;
    }
    #docs ul {
        margin-left: 2em;
    }
</style>
{% endblock %}

{% block main %}

{% if link_type == 'links' %}
<h2><a href="{{ org.get_absolute_url }}">{{ org.name }}</a> Links</h2>
{% else %}
<h2><a href="{{ org.get_absolute_url }}">{{ org.name }}</a> Media Links</h2>
{% endif %}

<div class="box" id="docs">
    {% if link_type == 'links' %}
    <p>The links will be displayed on the right side of your organization's page
    using the provided <em>name</em>.
    </p>
    {% else %}
    <p>The links will be displayed in the media banner of your organization's page.
    Supported types are:
    <ul>
        <li>Images - the URL must end with an image extension (.jpg, .png, .gif)</li>
        <li>YouTube Video - provide either the embed URL or the URL from the video page.</li>
    </ul>
    {% endif %}
    <p>Links are sorted using the <em>order</em> field.</p>
    <p>Click on the the link to edit/delete.</p>
</div>

{% include "mapstory/_link_edit.html" %}

{% endblock %}

{% block extra_body %}
<script type="text/javascript" src="{% static 'script/link_edit.js' %}"></script>
{% endblock %}