{% extends "minimized_header_no_bottom_layout.html" %}
{% load org_tags %}
{% load mapstory_tags %}
{% load staticfiles %}

{% block title %}{{ org.name }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static "theme/org_page.css" %}" media="screen" />
{% endblock %}

{% block main %}
<div id="org-banner" class="box mrg-btm mrg-top">
    {% edit_widget banner%}
    <div class="banner_image" data-content="banner_image">
        <img src="{{ org.banner_image }}" {% if not org.banner_image %}style="display:none"{% endif %}></img>
        {% if not org.banner_image %}<h2 class="placeholder">Your Banner Image Goes Here</h2>{% endif %}
    </div>
</div>
<div class="row mrg-btm">
    <div class="span8">
        <div class="box" id="orgcontent">
            {% edit_widget content %}
            <h2>{{ org.name }}</h2>
            <div class="expandable"><p data-content="org_content">{{ org_content|default:"Your Content Goes Here"|escape|urlize|linebreaks|safe}}
            </p></div>
        </div>
    </div>
    <div class="span4">
        <div class="box" id="orglinks">
            {% if can_edit %}<a href="{% url org_links org.slug %}" class='btn btn-small pull-right' target="_">Edit</a>{% endif %}
            <h2>Links and Resources</h3>
            <ul data-content="org_links">
                {% for l in org.links.all %}
                <li id="org-link-{{ l.pk }}">{% render_link l %}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div id="mediabanner" class="box mrg-btm">
    {% if can_edit %}<a href="{% url org_ribbon_links org.slug %}" class='btn btn-small pull-right' target="_">Edit</a>{% endif %}
    
    {% include "mapstory/_media_ribbon.html" %}
</div>

<div>
    <div class="tabbable">
        <ul class="nav nav-tabs fancyfont">
            <li class="active"><a href="#1" data-toggle="tab">MAPSTORIES</a></li>
            <li><a href="#2" data-toggle="tab">STORYLAYERS</a></li>
            <li><a href="#3" data-toggle="tab">STORYTELLERS</a></li>
            <li><a href="#4" data-toggle="tab">STORYLAYERS USED BY</a></li>
        </ul>
        <div class="tab-content box">
            <div class="tab-pane active" id="1">
                <div class="article-list">
                    <ul>
                        {% for m in maps %}
                        <li>{% map_info_tile m %}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="tab-pane" id="2">
                <div class="article-list">
                    <ul>
                        {% for m in layers %}
                        <li>{% map_info_tile m %}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="tab-pane" id="3">
                <div class="article-list">
                    <ul>
                        {% for m in members %}
                        <li>{% storyteller_tile m %}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="tab-pane" id="4">
                <div class="article-list">
                    <ul>
                        {% for m in using %}
                        <li>{% map_info_tile m %}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="editpanel" style="display:none;">
    <div id="editpanel-content">
        <div id="edit_banner_image">
            <label>The URL to use for your image : </label><input type="text" width="30" value="{{org.banner_image|default:''}}">
            <p>Your banner image should ideally be 960 pixels wide</p>
        </div>
        <div id="edit_org_content">
            <label>The content : </label>
            <textarea style="width:600px;height:200px;resize:both">{{ org_content|default:""}}</textarea>
        </div>
        <div id="edit_org_links">
            {% for l in org.ordered_links %}
            <div class="link_edit">
                <input type="hidden" value="{{l.pk}}">
                <input value="{{l.name}}">
                <input value="{{l.href}}">
            </div>
            {% endfor %}
        </div>
        <div id="edit_org_ribbon_links">
            {% for l in org.ordered_links %}
            <div class="link_edit">
                <input type="hidden" value="{{l.pk}}">
                <input value="{{l.name}}">
                <input value="{{l.href}}">
                {% render_link l %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="editbuttons">
        <span id="editmsg"></span>
        <a href="#cancel" class="btn btn-small">Cancel</a>
        <a href="#ok" class="btn btn-small">OK</a>
    </div>
</div>
{% endblock %}

{% block extra_body %}
{% if can_edit %}
<script type="text/javascript" src="{% static "script/org_edit.js" %}"></script>
{% endif %}
<script type="text/javascript" src="{% static "script/carousel_jquery.js" %}"></script>
<script type="text/javascript" src="{% static "script/jquery.expander.min.js" %}"></script>
<script type="text/javascript" src="{% static "script/expander.js" %}"></script>
<script type="text/javascript">
$(function() {
    var mw = 256.0, mh = 200.0;
    $("#carousel li *").load(function() {
       $(this).carouselResize(mw, mh);
    });
});
</script>
{% endblock %}
